
body {
  margin: 0;
  font-family: Arial;
}

/* html {
  margin-top: 50px;
} */

.sidebar {
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The side navigation menu */


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  /* color: orange; */
  background-color: rgb(167, 162, 162);
}

.sidenav a.active {
  background-color: black;
  color: orange; /* You may want to change text color for better visibility */
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: black;
  cursor: pointer;
  height: 50px;
  line-height: 55px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
  width: 80%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px;
  }
}

nav {
  height: 50px;
  background: #c1c1c1;
}

.menu-button {
  background: #4646cc;
  height: 40px;
  margin: 5px;
  float: left;
  line-height: 40px;
  width: 100px;
  text-align: center;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

/* Move the menu if the button is clicked */
body:has(#menu-toggle:checked) #mySidenav {
  width: 250px !important;
}
.sidenav {
  /* Existing styles */
  width: 16%; /* Initial width */
  min-width: 16%; /* Minimum width to prevent shrinking below 50% */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 10px; /* Stay at the top */
  left: 0;
  background: rgb(230, 227, 227); /* side nav background color light grey */
  color: black;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  overflow-y: auto;
  overflow-x: visible;
  text-align: left;
  
  @media screen and (max-width: 1000px) {
      width: 25%; /* Adjust the width for screens with a width of 1000px or less */
  }
}

/* ... other styles ... */

.main {
  padding-top: 1px;
  padding-left: 15px;
  width: 84%;
  float: right;
  
  @media screen and (max-width: 1000px) {
    width: 75%;
      margin-left: calc(25% + 15px); /* Adjusted margin for screens with a width of 1000px or less */
  }
}
