/* apply to all the html elements*/
* {
    margin: 0;
    padding: 0;
}

.index-background {
    /* min-height: 100vh;
    width: 100%; */
    /* bcg image which is greyed to make it lighter*/
    /* background-image: linear-gradient(rgba(4, 9, 30, .7),rgba(4, 9, 30, .7)), url(../images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative; */

  

}