.flex-container {
    display: flex;
    background-color: grey;
    flex-direction: column;
    align-items: center;
}

.flex-item {
    width: 85%;
    background-color: black ;
    color: rgb(221, 221, 4);
    margin: 10px  10px 0px 10px;
    padding: 20px;
 
    border-radius: 15px; /* Adding curved edges */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Adding a 3D appearance */
    text-align: center; /* Center-align the text */
    transition: background-color 0.3s;
}

.flex-item:hover {
    /* background-color: lightgrey; */
    /* border: 1px solid #000; */
    transform: scale(1.01); /* Zoom by 1% on hover */ 
} 

.flex-item img {
    max-width: 100%;
    display: block;
    margin: 10px auto; /* Center the image horizontally */
}

