/* notes 
for media queries watch at 22;18

https://www.youtube.com/watch?v=oYRda7UtuhA

*/

nav {
    display: flex;
    padding: 2.0% 3%;
    /* arg controls the height bar */
    /* padding: 1% 6%;: This sets padding for the nav element. It applies 1% of the width of the parent container to the top and bottom, and 6% of the width to the left and right. The percentage-based padding can make the navigation bar responsive, adapting to different screen sizes. */

    height: 9px;
    /* height: 1px;: This sets the height of the nav element to 1 pixel. This would typically make the navigation bar extremely thin, almost invisible. In most cases, you'd want to set the height to a more substantial value to create a visible navigation bar. */
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 22px;

}

/*settings for the container that contains all the list items*/
.top-nav-bar {
    flex: content;

    text-align: right;
    /* height of text of li from the bottom strip  */
    height: 42px;
    align-items: right;
    /* background-color: white;  */
}



/*settings for the individual container that contains a list item*/

.top-nav-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 2.5px 12px;
    position: relative;
    margin-left: 0%;
    /* background-color: red; */
}

/* text of individual list item */
.top-nav-bar ul li a {
    color: white;
    /* background-color: blue; */
    text-decoration: none;
    font-size: 13px;

}

.top-nav-bar ul li a:hover {

    /* background-color: darkgrey; */
    color: orange;
}

/* logo image */
.top-nav-bar ul img {
    width: 9px;
    height: auto;
    margin-right: 5px;
    padding-top: 1 px;
}


.tech-pro-school {
    color: orange;
    text-decoration: none;
    font-size: 30;
    font-weight: bolder;
    height: auto;
    text-align: right;
    align-items: center;
    margin: 0px;

}

nav img {

    width: 25px;
    height: auto;
    margin: 10px;
    padding: 5px;
    padding-left: 0px;
}

/* hide the small screen nav open close icons in full screen mode */
nav .fa-xmark {
    display: none;
}

nav .fa-bars {
    display: none;
}

/* responsive */
@media(max-width:768px) {
    nav {
        display: flex;
        padding: 6% 4.5%;
        /* arg controls the height bar */
        /* padding: 1% 6%;: This sets padding for the nav element. It applies 1% of the width of the parent container to the top and bottom, and 6% of the width to the left and right. The percentage-based padding can make the navigation bar responsive, adapting to different screen sizes. */
    
        height: 28px;
        /* height: 1px;: This sets the height of the nav element to 1 pixel. This would typically make the navigation bar extremely thin, almost invisible. In most cases, you'd want to set the height to a more substantial value to create a visible navigation bar. */
        /* justify-content: space-around; */
        justify-content: space-between;
        align-items: center;
        background-color: black;
        font-size: 18px;
    
    }
    .top-nav-bar {
        position: absolute;
        background: black;
        
        height: 100vh;
        /* height: auto; */
        width: 80%;
        top: 0;
        right: -500px;
        text-align: left;
        z-index: 2;
        transition: .5s;
        padding-top: 1px;
       
        
    }

    .top-nav-bar ul li {

        display: block;
        font-size: 13;
        border: solid 1px grey;

    }
    nav .fa-xmark , nav .fa-bars {
        display: block;
        color: white;
        cursor: pointer;
        padding-left: 15px;
        
    }
    nav .fa-xmark {
        padding: 5px;
        margin-left:10px;
  
    }
    nav .fa-bars {
        display: block;
        color: white;
        cursor: pointer;
    }
   
    .top-nav-bar ul li a {
        /* color: white;
        text-decoration: none; */
        font-size: 13px;
    
    }

    .tech-pro-school {
        color: orange;
        text-decoration: none;
        font-weight: bolder;
        font-size: 19px;
        height: auto;
        text-align: right;
        align-items: center;
        margin: 3px;
    
    }
}